################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreTestApp/.vs
/CoreTestApp/src/CoreTestApp/bin/Debug/netcoreapp1.0
/CoreTestApp/src/CoreTestApp/obj/Debug/netcoreapp1.0
